:root {
  --color-background: #d8f3dc; /* Light Green */
  --color-background-soft: #b7e4c7; /* Mid Green */
  --color-background-mute: #95d5b2; /* Dark Green */

  --color-border: #a5a58d; /* Soft Earthy Brown */
  --color-border-hover: #6b705c; /* Earthy Brown */

  --color-heading: #6b705c; /* Earthy Brown */
  --color-text: #2c3e50; /* Indigo Text */

  --color-highlight: #95d5b2; /* Dark Green */
  --color-accent: #b7e4c7; /* Mid Green */
  --color-accent-dark: #6b705c; /* Earthy Brown */

  --section-gap: 160px;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #19191e; /* Dark Green */
    --color-background-soft: #252827; /* Darker Green */
    --color-background-mute: #6b705c; /* Earthy Brown */

    --color-border: #a5a58d; /* Soft Earthy Brown */
    --color-border-hover: #6b705c; /* Earthy Brown */

    --color-heading: #f8f8f8; /* Light Text */
    --color-text: #f2f2f2; /* Softer Light Text */

    --color-highlight: #6b705c; /* Earthy Brown */
    --color-accent: #a5a58d; /* Soft Earthy Brown */
    --color-accent-dark: #95d5b2; /* Dark Green */
  }
}


body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
